<%- include('./Pages/top'); %>
  <h1>Bem-vindo <%= user %></h1>
  <a href="/post">Faça um post em nosso blog</a>
  <script src="assets/js/bundle.js"></script>
</body>
</html>
<%- include('./Pages/footer'); %>
